
.app-bar{
  background-color: #0076eb;
  color: white;
  text-align: center;
  margin-bottom: 15px;
}
.app-header{
  padding-top: 10px;
  padding-bottom: 10px;
}

.left{
  text-align: left;
  position: absolute;
  left:15px;
  top:0;
}

.category-header{
  text-align: center;
  background-color: #efefef;
}